/* Colors */
$black: #212529;
$dgrey: #4f4f4f;
$lgrey: #f0f0f0;
$blue: #2F92CC;
$lblue: #CFE1FE;
$dblue: #084298;
$white: #ffffff;

/* Fonts */
$fsans: "Noto Sans", sans-serif;
$fserif: "Noto Serif", serif;