@charset "UTF-8";
/* Colors */
/* Fonts */
html, body, p, a, div, ul, li {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
}

a {
  color: #212529 !important;
}

.jr-menu-item {
  border-bottom: 2px solid #F8F9FA;
  transition: 0.2s;
}

.jr-menu-item:hover {
  border-bottom: 2px solid #2F92CC;
  transition: 0.2s;
}

/* Fondo */
.jr-login-background {
  background-image: url("../assets/img/homepage_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 0;
  opacity: 0.8;
}

/* Contenedor principal */
.jr-login-container {
  width: 400px;
  padding: 20px;
  margin-top: 36px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
}

/* Logo */
.jr-login-logo {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Centrando el formulario en móviles */
/* Responsivo */
@media (max-width: 768px) {
  .container {
    justify-content: center; /* Centrado horizontal en móviles */
    align-items: center; /* Centrado vertical en móviles */
  }
  .jr-login-container {
    width: 90% !important; /* Más ancho en móviles */
    margin-top: 0; /* Elimina margen extra en móviles */
  }
  .jr-login-logo {
    width: 90% !important; /* Ajusta el logo al ancho disponible */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .jr-login-container h1 {
    font-size: 22px; /* Reduce el tamaño del título */
  }
  #login-form > div > input {
    height: auto; /* Ajusta dinámicamente el alto del input */
    padding: 10px; /* Añade padding interno */
  }
}
/* -- MURO -- */
#appListadoPerfilesBox {
  min-height: 300px;
  height: 300px;
  padding: 5px;
  border-radius: 4px;
  top: 20px;
}

.jr-app-list-users-user-box {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.jr-app-list-users-user-box-img {
  width: 45px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 7px;
}

.jr-app-list-users-user-box-name {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
}

.m-p-user-img {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.m-p-user-img > img {
  width: 100%;
}

.m-p-user-name {
  font-size: 0.9rem;
  font-family: "Noto Sans", sans-serif !important;
}

.m-p-post-date {
  font-size: 0.7rem;
  font-family: "Noto Sans", sans-serif !important;
}

.jr-post-license-svg {
  width: 20px;
  height: auto;
}

.m-p-post-title {
  font-size: 1.1rem;
  font-weight: 700 !important;
  margin-bottom: 10px;
}

.m-p-post-content {
  font-size: 1.05rem;
  font-weight: 400 !important;
}

.post-comment-input::-moz-placeholder {
  font-size: 13px !important;
  font-family: "Noto Sans", sans-serif !important;
}

.post-comment-input::placeholder {
  font-size: 13px !important;
  font-family: "Noto Sans", sans-serif !important;
}

.post-comment-input {
  font-size: 13px !important;
  font-family: "Noto Sans", sans-serif !important;
}

.votes_quantity {
  font-size: 13px;
  font-family: "Noto Sans", sans-serif !important;
}

#reading_container {
  position: sticky;
  top: 20px; /* Distancia fija desde el header */
  align-self: flex-start;
  max-height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
}

.jr-post-body:hover {
  cursor: pointer;
}

.comments-list {
  margin-top: 10px;
}

.comments-list-reader {
  max-height: 400px;
  overflow-y: scroll;
}

.comment-item {
  margin-bottom: 10px;
  padding: 7px;
  background-color: #ffffff;
  border-radius: 5px;
  border-radius: 4px;
}

.comments-list-options {
  margin-bottom: 5px;
}

.comments-list-options > a {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  color: #4f4f4f;
  text-decoration: none;
}

.comment-item p {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px !important;
  color: #4f4f4f;
}

.wall-post-comments-user-img-box {
  width: 34px;
  height: 34px;
  overflow: hidden;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.voted-colored {
  color: #2F92CC;
}

.voted-grey {
  color: #4f4f4f;
}

.container-post-disabled {
  opacity: 0.3;
}

.container-post > div {
  background-color: #f5f5f5;
}

/* -- DASHBOARD --*/
.jr-dash-table-posts-list {
  font-family: "Noto Sans", sans-serif !important;
}

.jr-dash-table-posts-list th {
  font-size: 1rem;
  font-weight: 500 !important;
}

.jr-dash-table-posts-list td.jr-dash-posts-list-title {
  font-size: 0.95rem;
  font-weight: 600 !important;
}

.jr-dash-table-posts-list td.jr-dash-posts-list-title > a {
  transition: 0.2s !important;
}

.jr-dash-table-posts-list td.jr-dash-posts-list-title > a:hover {
  color: #2F92CC !important;
  transition: 0.2s !important;
}

.jr-dash-table-posts-list td.jr-dash-posts-list-meta {
  font-size: 0.8rem;
}

.jr-dash-folders-list-folder-name {
  font-family: "Noto Sans", sans-serif !important;
  font-size: 0.95rem;
}

.dash_location, .dash_location a {
  font-size: 13px;
  color: #212529;
  font-family: "Noto Sans", sans-serif !important;
}

.jr-btn-opened-folder {
  background-color: #CFE1FE !important;
}

.jr-list-icon {
  color: #2F92CC !important;
}

.jr-list-icon:hover {
  color: #084298 !important;
}

.folder-options-menu {
  position: absolute;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 10;
  display: none;
  text-align: left !important;
}

.folder-options-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #4f4f4f;
  cursor: pointer;
  font-size: 14px !important;
  font-family: "Noto Sans", sans-serif !important;
}

.folder-options-menu a:hover {
  background-color: #f5f5f5;
}

/* --- PERFIL DE USUARIO ----- */
.jr-uspfl-head-h3 {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  color: #212529;
  line-height: 1em;
}

.jr-uspfl-actitem-box {
  padding: 0px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 4px;
}

.jr-uspfl-actitem-box-lft-cont {
  width: auto;
  padding: 5px;
  background-color: #f5f5f5;
}

.jr-uspfl-actitem-lft-cont-txt {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.jr-uspfl-actitem-box-right-cont {
  width: auto;
  padding: 5px;
  background-color: #ffffff;
}

.jr-uspfl-actitem-box-right-cont-txt {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.jr-user-profile-img img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}/*# sourceMappingURL=styles.css.map */